@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css?family=Indie+Flower:400');

/* --------- GLOBAL STYLES --------- */
:root {
	/* twitch color #6441a5*/
	--col1: #8843f7; 
	--col2: #191818;; 
	--col3: #f0f0f0; 
	--col4: white; 
	--font1: "Lato"; 
	--font2: "Indie Flower";
	--f1w: 700; 
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    font-family: var(--font1), -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: var(--fw1);
    background-color: var(--col3);
    font-size: 18px;
}

li {
	list-style:  none;
}

a, a:hover {
	text-decoration: none;
}

 a {
	color: var(--col1) !important;
	font-weight: var(--f1w);
}

main {
	margin-top: 64px; /* offset by navbar height */
}

h2 {
	font-weight: var(--f1w);
	color: var(--col1);
	text-transform: lowercase;
}

.section {
	margin-bottom: 40px;
}

.btn {
	height: 36px;
	background-color: transparent !important;
	border: 3px solid var(--col) !important; 
	border-radius: 0% !important;
	color: var(--col) !important;
	font-family: var(--font1);
	text-transform: uppercase;
	font-weight: var(--f1w);
	transition: box-shadow 450ms ease-in-out, color 750ms ease-in-out;
}

.btn:hover {
	color: var(--col4) !important;
	outline: 0 !important;
	box-shadow: 0 0 40px 40px var(--col) inset;
}

table {
	margin: 30px auto;
}

thead {
	border-top: 4px solid var(--col2);
	border-bottom: 2px solid var(--col2);
}

tbody > tr:last-child {
	border-bottom: 4px solid var(--col2);
}
th:first-child, td:first-child {
	border-right: 2px solid var(--col2);
}

th, td {
	padding: 8px;
}
/* --------- END GLOBAL STYLES --------- */


/* --------- NAVBAR --------- */
.navbar-brand > span {
	padding-left: 2px;
	font-family: var(--font2);
}

.navbar {
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
	background: var(--col4) !important;
}

.navbar-toggler {
	border: 0 !important;
}

.navbar-brand {
	font-size: 1.5rem;
}

.nav-link.active {
	color: var(--col1) !important;
	z-index: 2 !important;
}

.nav {
 	margin-right: calc(8.33% - 1rem) !important;
}

/* --------- NAV-LINK ANIMATION --------- */
.nav-link  {	
	position: relative !important;
	margin: 0px 10px !important;
    padding: 10px 10px !important;
	z-index: 0;
	text-transform: lowercase;
	color: rgba(136, 67, 247, 0.66) !important;
}

.nav-link:before {
    position: absolute;
    color: var(--col1);
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(1.2);
    opacity: 0;
} 
.nav-link:hover:before {	
    transform: scale(1);
    opacity: 1;
}
/* --------- END NAV-LINK ANIMATION --------- */
/* --------- END NAVBAR --------- */

/* --------- HOME SECTION --------- */
#home {
	min-height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* --------- END HOME ------------ */

/* --------- USER INPUT ----------- */
.input-panel {
	padding-top: 5vh;
}

.input-panel, .rec-panel, form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#username_input {
	border: 3px solid rgba(136, 67, 247, 0.66); 
	height: 36px;
	padding: 2.5px 16px;
	transition: 200ms ease-in-out;
}

#username_input:focus {
	border-color: var(--col1);
	outline: none;
}

#username_input, #username_input + .btn {
	vertical-align: middle
}

#username_input + .btn {
	text-transform: lowercase;
}

/* ------- END USER INPUT --------- */

/* AUTOCOMPLETE */
#autocomplete-anchor {
	display: relative;
	margin-bottom: 5vh;
}

.ui-autocomplete {
	background-color: #191818;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.ui-menu-item {
	padding-left: 14px;
	outline: 0.1px solid var(--col4);
}
/* --------- END HOME --------- */


/* --- RECOMMENDATIONS GRID --- */
#grid {
  position: relative;
  height: calc(min(90vw,57.5vh));
  width: calc(min(90vw,57.5vh));
  overflow: hidden;
}

.c {
  position: absolute;
  width: 33%;
  height: 33%;
}
.c:nth-of-type(1) {
  top: 0%;
  left: 0%;
}
.c:nth-of-type(2) {
  top: 0%;
  left: calc((1/3)*100%);
}
.c:nth-of-type(3) {
  top: 0%;
  left: calc((2/3)*100%);
}
.c:nth-of-type(4) {
  top: calc((1/3)*100%);
  left: 0%;
}
.c:nth-of-type(5) {
  top: calc((1/3)*100%);
  left: calc((1/3)*100%);
}
.c:nth-of-type(6) {
  top: calc((1/3)*100%);
  left: calc((2/3)*100%);
}
.c:nth-of-type(7) {
  top: calc((2/3)*100%);
  left: 0%;
}
.c:nth-of-type(8) {
  top: calc((2/3)*100%);
  left: calc((1/3)*100%);
}
.c:nth-of-type(9) {
  top: calc((2/3)*100%);
  left: calc((2/3)*100%);
}
.c {
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.c:hover {
  cursor: pointer;
}

.c.active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.overlay {
	font-size: 24px;
	padding-top: 2px;
	padding-left: 8px;
	color: var(--col4);
	background-color: rgba(0,0,0,0.66);
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
	z-index: 2;
	overflow: hidden;
}

.overlay-info {
	font-size: 16px;
	text-align: center;
	opacity: 0;
	color: var(--col4);
	transition: all;
	transition-delay: 0.35s;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.overlay.active {
	z-index: 3;
	background-color: rgba(0,0,0,0.44);
	
}

.overlay-info.active {
	z-index: 4;
	opacity: 1;
	
}

.streamername{
	text-decoration: underline;
}

/* prevent clicking same .c element during animation */
.freeze {
	pointer-events: none;
}

/* --- END RECOMMENDATIONS GRID --- */

/* ----- ABOUT SECTION ----- */
.img-container {
	display: flex;
	justify-content: center;
}

#topGames {
	width: 100%;
	max-width: 600px;
	height: auto;
}

#network {
	width: calc(min(90vw,80vh, 1000px));
	height: calc(min(90vw,80vh, 1000px));
}

/* Footer */
#socials {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
#socials i {
	color: var(--col1);
	margin: 0 15px;
}